/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* bootstrap*/
@import 'bootstrap/dist/css/bootstrap.min.css';



*{
  text-decoration: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.container{
  width: 100vw;
  /* padding: 10px 50px; */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* CAROUSEL */
