/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* bootstrap*/
@import 'bootstrap/dist/css/bootstrap.min.css';



*{
  text-decoration: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.container{
  padding: 0 50px;
  margin: 0 auto;
  
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* animate */
.box_glass::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background: linear-gradient(50deg,transparent 50%,rgba(255,255,255,.1) 60%,rgba(255,255,255,.5) 70%,transparent 71%);
 background-size: 200% 100%;
 background-position: 200% 0;
 transition: .5s;
}
.box_glass:hover::after{
  background-position: -20% 0;
  cursor: pointer;
}

